.header {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;

  .header__logo {
    height: 50px;
    display: inline-block;

    img {
      height: 100%;
    }
  }

  .header__buttons {
    display: flex;
    gap: 10px;
  }

  .header__button {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;

    img {
      width: 100%;
    }
  }
}
